#page-home {
    margin-top: 50px;
    height: 100%;
    background-image: url('../assets/vetor..jpg');
    border-image: none;
    max-width: 100%;
    max-height: 100%;
    position: flex ;
    background-position: 100% bottom;
   
}

   #page-home .content {
        width: 90%;
        max-width: 1100px;
        margin: 0 auto;
        height: 100%;
        display:flex;
        flex-direction: column;
    }
    #page-home header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        #page-home header a{
            display: flex;
           color: var(--title-color);
            font-weight: 700;
            
        }

    #page-home header a span{
        margin-right: 16px;
        display: flex;
        background-image: url('../assets/log-in.svg');
        width: 20px;
        height: 20px;
    }
    #page-home main {

    max-width: 560px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    #page-home main h1{
        font-size: 54px;
    }

    #page-home main p{
        font-size: 24px;
        line-height: 38px;
        margin-top: 24px;
    }

    #page-home main a {

        width: 100%;
        max-width: 360px;
        height: 72px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        margin-top: 40px;
        transition: 400ms;        
        background-color: var(--primary-color);
    }

    #page-home main a:hover{

        background-color: #2fb86e;

    }
    #page-home main a span{

        width: 72px;
        height: 72px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        background-color: rgba(0,0,0,0,0.08);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #page-home main a span::after{

        content: "";
        background-image: url('../assets/search.svg');
        width: 20px;
        height: 20px;

    }

    #page-home main a strong{
        color: white;
        flex: 1;
        text-align:center ;

    }