#page-create-point{
    width: 90%;
    max-width: 1100px;
    /*alinhamento da caixa, pelo lado de fora*/
    margin: 0 auto;
    
}
#page-create-point header{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#page-create-point header a{
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

#page-create-point header a span{
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg');
    display: flex;
    width: 20px;
    height: 24px;
}

form{
    background-color:white;
    margin: 80px auto; /*Fazer a caixa ficar mais centralizada*/
    padding: 64px; /* PREENCHIMENTO DO FORMULÁRIO*/
    border-radius: 8px;
    max-width: 730px;
    
}
form h1{

    font-size: 36px;
}

form fieldset{
    margin-top: 64px;
    border: 0;
}

form legend{
    margin-bottom: 40px;
}
form legend h2{
    font-size: 24px;
}

form .field{
    flex: 1;
    display: flex;
     /*O flex-direction, faz com que os campos 
     fiquem um ao lado do outro */
    flex-direction: column ;
    margin-bottom: 24px;
}

form .field-group{
display: flex;
}

form input,
 form select{
    background-color:#f0f0f5;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    border-radius: 8px;
    outline: none;
}

 form select{ /*Aqui é se caso nesses 
            navegadores não funcionar,
            o css, não dará problema. */
    -webkit-appearance: none;
    --moz-appearance:none;
    --appearence:none;
}

form label{
    font-size: 14px;
    margin-bottom: 8px;
}
/*Separador  de campos, na mesma linha*/
form .field-group .field + .field{
    margin-left: 25px;
    
}

form button{
    width: 260px;
    height: 56px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 40px;
    transition:background-color 400ms;
}

form button:hover{
    background-color: #2fb86e;
}

.items-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*Linhas e colunas de Itens*/
    gap: 16px; /* pROPRIEDADE EXPECIFICA DO GRID, PARA FAZER A SEPARAÇÃO DOS ELEMENTOS*/

    
}     


.items-grid li {
    background-color: #f5f5f5;
    list-style: none;
    border: 2px solid #f5f5f5 ;
    border-radius: 8px;
    height: 180px;
    padding: 32px 24px 16px; /*ESPAÇAMENTO*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer; /*Para aparecer a maozinha em cima ao passar o mouse.*/

}

.items-grid li span{
margin-top: 12px;    
flex: 1;
display: flex;
align-items: center;
color: var(--title-color);

}
.items-grid li.selected{
    background: #e1faec;
    border: 2px solid #34cb79;

}
.items-grid li img,
.items-grid li span {
    pointer-events: none; /*Aqui vai impedir que os cliques peguem a imagem junto do texto.*/
}













