    :root{  /* DIRETÓRIO RAIZ DOMEU CÓDIGO */
        --title-color:#322153;
        --primary-color: #34cb79;
        /* Caso eu queira mudar
         a cor da fonte, 
        so mudar aqui, que mudará em todo o conteudo. */
    }

    * { /* SELETOR, ONDE SELECIONA TODOS DESSA CLASSE. */
        margin: 0;
        padding: 0;
        box-sizing: border-box; /*TODAS AS CAIXAS TERÃO ESTE PADRÃO*/
    }


    html {
        font-family: Roboto, sans-serif;
         }   
    
    /* Para referenciar uma classe usamos o ponto (.) e em seguida usamos o nome da classe(red)
    .red
    */
    body{
        background: #f0f0f5;
        -webkit-font-smoothing: antialiased;
    }

    a{
        text-decoration: none;
    }

    h1, h2, h3, h4, h5, h6{
        font-family: Ubuntu, sans-serif;
        color: var(--title-color);
        
    }
    


  