@media(max-width:900px){
    #page-home{
        background-position-x:70vw;

    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home header a{
        position: absolute;
        top: 1vw;
        bottom: 20vw;
        left: 50%;
        transform: translateX(-50%);
    }
    #page-home main{

        align-items: center;
    }
}
    #page-search-results .cards{
        grid-template-columns: 1fr ;
    }

    #page-search-results .cards img{
        height: 340px;              /*************    LARGURA DA IMAGEM     ********************/
    }

    @media (min-width: 1700px){
        #page-home{
            background-position-x:40vw;
    
        }
    }
    @media (max-height: 760px){

        #page-home{
            background-position-y:200px; 

        }
    }

