.items-grid{
    position: relative;
    image-orientation: left;
    margin-left: -110px;
    margin-top: -300px;
    margin-right: 50px;
    left: none;
    top: 35vw;
    box-sizing: border-box;
    padding-bottom: 25vw;
    
    }

.link{
    width: 260px;
    height: 56px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 40px;
    transition:background-color 400ms;
    transition:background-color 400ms;
    background-color: #2fb86e;
    
    
    
}


.field{
    margin-top: 64px;
    margin-left: 250px;
    border: 0;
    flex: 1;
    display: center;
    flex-direction: column ;
    margin-bottom: 24px;
    
}

 .field-group{
    margin-top: 30vw;
    margin-left: -1vw;
    margin-right: 10vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 4vw;
    text-align: justify;
    font-size: larger;
  
   
}

.field-group2{
    margin-top: 10vw;
    margin-left: -1vw;
    margin-right: 10vw;
    flex: 1;
    display: flex;
    flex-direction: column ;
    margin-bottom: 4vw;
   text-align: justify;
   font-size: large;
   
}
